<ion-card>
  <ion-card-content>
    <div class="add-task">
      <ion-input 
        placeholder="Nueva tarea..." 
        [(ngModel)]="newTaskTitle"
        type="text">
      </ion-input>

      <ion-select 
        [(ngModel)]="newTaskCategoryId" 
        placeholder="Categoría" 
        cancelText="Cancelar" 
        okText="OK">
        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</ion-select-option>
      </ion-select>

      <ion-button (click)="onAddTask()" color="dark" fill="solid">Agregar</ion-button>
    </div>

    <ion-list>
      <ion-item *ngFor="let task of tasks" [class.completed]="task.completed">
        <ion-label>{{task.title}}</ion-label>
        <ion-button fill="clear" color="light" (click)="toggleTask.emit(task)">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="removeTask.emit(task)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
