<ion-card>
  <ion-card-content>
    
    <div class="add-task">
      <ion-input 
        placeholder="Nueva tarea..." 
        [(ngModel)]="newTaskTitle"
        type="text">
      </ion-input>
      
      <ion-select 
        [(ngModel)]="newTaskCategoryId" 
        placeholder="Categoría" 
        cancelText="Cancelar" 
        okText="OK">
        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</ion-select-option>
      </ion-select>
      
      <ion-button (click)="onAddTask()" color="dark" fill="solid">
        Agregar
      </ion-button>
    </div>

    <ion-list>
      <ion-item *ngFor="let task of tasks" [class.completed]="task.completed">
        <ng-container *ngIf="editingTaskId !== task.id; else editMode">
          <div class="task-content">
            <div class="task-description">
              <ion-label>{{task.title}}</ion-label>
            </div>
            <div class="task-actions">
              <ion-checkbox
                [(ngModel)]="task.completed"
                (ionChange)="onToggleTaskCompletion(task)">
              </ion-checkbox>
              <ion-button fill="solid" color="primary" (click)="startEditing(task)">
                Editar
              </ion-button>
              <ion-button fill="solid" color="danger" (click)="confirmDelete(task)">
                Eliminar
              </ion-button>
            </div>
          </div>
        </ng-container>

        <ng-template #editMode>
          <div class="edit-container">
            <ion-input [(ngModel)]="editingTaskTitle" placeholder="Editar título..." type="text"></ion-input>
            <ion-select 
              [(ngModel)]="editingTaskCategoryId" 
              placeholder="Categoría" 
              cancelText="Cancelar" 
              okText="OK">
              <ion-select-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</ion-select-option>
            </ion-select>
          </div>
          <div class="edit-actions">
            <ion-button fill="solid" color="success" (click)="saveEditing()">
              Guardar
            </ion-button>
            <ion-button fill="solid" color="medium" (click)="cancelEditing()">
              Cancelar
            </ion-button>
          </div>
        </ng-template>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
