:host {
    ion-card {
      background: #3a3a3a;
      border-radius: 20px;
      color: #fff;
    }
  
    .add-task {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 16px;
    }
  
    ion-input, ion-select {
      background: #2b2b2b;
      border-radius: 20px;
      color: #ffffff;
      --placeholder-color: #bbbbbb;
      padding: 8px;
    }
  
    ion-button {
      border-radius: 20px;
    }
  
    ion-item {
      background: #2b2b2b;
      border-radius: 20px;
      margin-bottom: 8px;
      color: #ffffff;
    }
  
    ion-item.completed ion-label {
      text-decoration: line-through;
      opacity: 0.7;
    }
  
    ion-button[color="danger"] {
      --background: #8B0000;
    }
  }
  