:host {
    ion-content {
      --background: #2b2b2b; /* Fondo oscuro neutro */
      color: #ffffff; 
    }
  
    .container {
      padding: 16px;
    }
  
    h1 {
      color: #ffffff;
    }
  }
  